.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 14px;
    background: #fff;
    border: 2px solid #444447;
    color: black;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    font-family: 'Karla', sans-serif;
}

    button:hover {
        color: white;
        background: #444447;
    }

    button:active {
        letter-spacing: 2px;
    }

.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    animation: rotating 2s 0.25s linear infinite;
}

    .onclic:after {
        content: "";
    }

    .onclic:hover {
        color: #1ecd97;
        background: white;
    }

.validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
}

    .validate:after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#register-form, #activate-form, #download-form {
    flex-direction: column;
    padding: 20px 10px 30px 10px;
    gap: 10px
}

h2.small-caps {
    font-variant: small-caps !important;
}

.centered {
    display: flex;
    justify-content: center;
}

h3.small-caps {
    font-variant: small-caps !important;
    padding: 10px 0px 0px 0px !important;
    margin: 0 !important;
    border-bottom: none !important;
}

.plain-select {
    width: 100%;
    padding: 2px 0px;
    font-size: 14px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
}

.plain-select:focus {
    border-color: #666;
    outline: none;
}

/* ONLY when placeholder is selected */
.plain-select[value=""] {
    color: #888;
    -webkit-text-fill-color: #888;
}

