.license-section {
    font-family: 'Source Sans 3', 'Karla', sans-serif;
    /*margin: 2em;
    line-height: 1.6;*/
}

h2 {
    font-family: 'Prata', serif;
    text-align: center;
}

h3 {
    margin-top: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3em;
}

p {
    margin: 1em 0;
    text-align: justify;
}

ul {
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: #0563C1;
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 14px;
    background: #fff;
    border: 2px solid #444447;
    color: black;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    font-family: 'Karla', sans-serif;
}

button:hover {
    color: white;
    background: #444447;
}

button:active {
    letter-spacing: 2px;
}

.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
    content: "";
}

.onclic:hover {
    color: #1ecd97;
    background: white;
}

.validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
}

.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#register-form, #activate-form, #download-form {
    flex-direction: column;
    padding: 50px 10px 50px 10px;
    gap: 10px
}

h2.small-caps {
    font-variant: small-caps !important;
}
