.license-section {
    font-family: 'Source Sans 3', 'Karla', sans-serif;
    /*margin: 2em;
    line-height: 1.6;*/
}

h2 {
    font-family: 'Prata', serif;
    text-align: center;
}

h3 {
    margin-top: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3em;
}

p {
    margin: 1em 0;
    text-align: justify;
}

ul {
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: #0563C1;
    text-decoration: underline;
}
